# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
object-oriented-programming/.vs/object-oriented-programming/v16/.suo
object-oriented-programming/.vs/object-oriented-programming/v16/Browse.VC.db
object-oriented-programming/.vs/object-oriented-programming/v16/Browse.VC.db-wal
object-oriented-programming/.vs/object-oriented-programming/v16/Browse.VC.db-shm
object-oriented-programming/.vs/object-oriented-programming/v16/Browse.VC.opendb
object-oriented-programming/.vs/object-oriented-programming/v16/ipch/AutoPCH/278aa506e0fb1b12/PRACTICE2[ARRAY].ipch
object-oriented-programming/.vs/object-oriented-programming/v16/ipch/AutoPCH/801ce33f5e5688b0/OBJECT-ORIENTED-PROGRAMMING.ipch
object-oriented-programming/.vs/object-oriented-programming/v16/ipch/AutoPCH/f93fee14812133eb/CIRCLE.ipch
object-oriented-programming/.vs/object-oriented-programming/v16/ipch/AutoPCH/278aa506e0fb1b12/PRACTICE2[ARRAY].ipch
object-oriented-programming/object-oriented-programming.sln
object-oriented-programming/object-oriented-programming.vcxproj
object-oriented-programming/object-oriented-programming.vcxproj.filters
object-oriented-programming/object-oriented-programming.vcxproj.user
